<section class="section-inner detail">
    <div class="container">

        <p class="text detail-bottom">
            Монтаж технологических трубопроводов и трубопроводов сервисных сред, является одним из основных этапов
            строительства, реконструкции и модернизации технологических процессов в самых разнообразных отраслях
            промышленности. По своей сути монтаж технологических трубопроводов – это очень сложный процесс,
            осуществляемый исключительно профессиональной командой с большим опытом работ. Наша компания – ООО
            «Евротехмонтаж» производит все работы по монтажу с учетом строгого соблюдения всех норм, предписанных в
            существующих стандартах.
            Имея все допуски и требуемые законодательством разрешения, мы готовы выполнить монтаж изделий, в
            изготовлении которых использовались такие материалы, как полимеры, или различные марки стали. Работая на
            рынке инженерных работ, наши специалисты получили опыт проведения мероприятий по монтажу трубопроводов на
            объектах, имеющих категорию особо опасных. Мы имеем все возможности осуществлять монтаж трубопроводов всех
            категорий.
        </p>

        <h2 class="title detail-title">Монтажные работы состоят из нескольких этапов:</h2>

        <div class="detail-features detail-bottom">
            {% for item in about.features %}
                <div class="detail-features-item">
                    <span>{{ item.title }}</span>
                </div>
            {% endfor %}
        </div>

        <div class="detail-text-icon detail-bottom">
            <span class="detail-icon icon-detail-icon">
                <span class="path1"></span>
                <span class="path2"></span>
            </span>
            <p class="text">
                При выполнении всех вышеуказанных этапов работ коллективом нашей компании, заказчик получает грамотное
                профессиональное сопровождение всех этапов реализации. Благодаря слаженности специалистов, получается
                желаемый результат и бесперебойная работа всей системы трубопровода.
            </p>
        </div>

        <div class="detail-about detail-bottom">
            <div class="detail-about-left">
                <img src="/assets/img/detail-img.jpg" alt="">
            </div>
            <div class="detail-about-right">
                <p class="text">
                    Сварочные работы трубопроводов, изготовленных из различных марок стали, разных диаметров (от шести
                    мм
                    до тысячи четыреста мм, при толщине стенки от 1,2 до 20 мм) проводятся в нашей компании тремя
                    видами:
                </p>
                <ul class="detail-list list-styled">
                    <li class="list-styled-item">ручная аргонно-дуговая;</li>
                    <li class="list-styled-item">орбитальная;</li>
                    <li class="list-styled-item">ручная дуговая.</li>
                </ul>
                <p class="text section-inner">
                    Температурный диапазон сред свариваемых трубопроводов варьируется от минус 198°С до плюс 650°С. При
                    необходимости сварки полимерных трубопроводов применяется имеющееся у нас в наличии современное
                    европейское оборудование. Сварка производится в раструб или встык. Диаметр труб может быть различных
                    размеров: от 6 мм до 250 мм, толщина стенки от 2 мм до 40 мм.
                    После проведения всех мероприятий по монтажу трубопровода, мы произведем все требуемые нормативами
                    испытания в т.ч в лабораторных условиях.
                </p>
                <a href="#" class="detail-link">
                    Смотреть портфолио
                    <span class="icon-Arrow-47"></span>
                </a>
            </div>
        </div>

        <h2 class="title detail-title detail-title-bottom">Также в нашей компании предоставляются услуги по следующим позициям:</h2>

        <div class="detail-bottom-services section-inner">
            {% for item in services_detail.items %}
                <a href="{{ item.href }}" class="detail-bottom-services-item">
                    <picture class="detail-bottom-services-img">
                        <img src="{{ item.img }}" alt="{{ item.title }}">
                    </picture>
                    <span class="detail-bottom-services-text">{{ item.title }}</span>
                </a>
            {% endfor %}
        </div>

    </div>
</section>